.idea/
*/.idea/
token.txt
*/venv/*
*/Ansible/*/hosts

*.tfvars

!/Lab/vCenter/NGFW/.terraform/
!/Lab/vCenter/NGFW/.terraform.lock.hcl
!/Lab/vCenter/NGFW/terraform.tfstate
!/Lab/vCenter/NGFW/terraform.tfstate.backup
!/Terraform/Products/Secure Firewall-FMC/PolicyGenerating/terraform.tfvars
/Lab/vCenter/CDO/.terraform/
*.lock.hcl
*/terraform.tfstate
*/.terraform/*
/Lab/vCenter/NGFW/OVF/Cisco_Secure_Firewall_Threat_Defense_Virtual-7.2.4-165.vmdk
/Lab/vCenter/NGFW/OVF/Cisco_Secure_Firewall_Threat_Defense_Virtual-7.3.1-19.vmdk
/Lab/vCenter/NGFW/OVF/Cisco_Secure_Firewall_Threat_Defense_Virtual-VI-7.2.4-165.ovf
/Lab/vCenter/NGFW/OVF/Cisco_Secure_Firewall_Threat_Defense_Virtual-VI-7.3.1-19.ovf
/Lab/vCenter/NGFW/.terraform/

/Lab/vCenter/ASA/.terraform/
